* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

header {
    background-color: #eb8cc5;
    padding: 8px 2%;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.info-header {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.info-header img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 8px;
}

.info-header i {
    margin: 0 10px;
}

.icons-header {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.icons-header svg {
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    font-size: 12px;
    cursor: pointer;
}

.logo h3:hover {
    opacity: 0.7;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 8px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover{
    opacity: 0.7;
}

header nav {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 15px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 20px;
    height: 2px;
    background: #fff;
    margin: 4px;
}

@media (max-width: 650px) {
    body {
        overflow: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 35vw;
        height: 100%;
        background: #eb8cc5;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
        margin-bottom: 15px;
    }
    .mobile-menu {
        display: block;
    }
}
.nav-list.active {
    transform:translateX(0)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* .sidebar {
    width: 15%;
    background-color: rgb(255, 206, 244);
    height: 100%;
}

.sidebar a.sidebar-active {
    border-left: 4px solid #eb8cc5;
    background-color: rgb(245, 245, 245);
    color: #777;
    font-weight: bold;
}

.sidebar a:hover {
    border-left: 4px solid #eb8cc5;
    background-color: rgb(245, 245, 245);
    color: #777;
    font-weight: bold;
}

.sidebar a.sidebar-active>svg {
    color: #777;
}

.sidebar h3 {
    color: #333;
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #444;
}

.sidebar a>svg {
    color: #444;
} */

.content {
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 20px;
}

.titulo-secao {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 97%;
    margin: 0 auto;
}

.titulo-secao h2 {
    font-size: 19px;
}

.titulo-secao p {
    font-size: 14px;
}

.titulo-secao i {
    color: #f7bee0;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgb(240, 240, 240);
}

.box-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.box-info-single {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin: 0 10px;
    padding: 30px;

}

.box-info-single i {
    font-size: 28px;
}


.container-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Cada coluna terá no mínimo 300px e se ajustará automaticamente */
    gap: 10px;
    padding: 20px; /* Adiciona preenchimento ao redor dos elementos */
}

.grid-produtos {
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.section-title-produtos {
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #d6dce4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.input-group-produtos {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.input-group-produtos label {
    flex: 1;
    font-size: 14px;
    color: #657c9a;
}

.input-group-produtos input {
    flex: 2;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccd5e1;
    border-radius: 4px;
    margin-left: 10px;
}

.input-group-produtos input::-webkit-inner-spin-button,
.input-group-produtos input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group-produtos-addon {
    background: #f4f7fa;
    border: 1px solid #ccd5e1;
    padding: 6px 12px;
    color: #657c9a;
    text-align: center;
    border-radius: 4px;
    margin-left: -1px;
    cursor: pointer;
}

.btn-calcular-produtos {
    display: block;
    width: 100%;
    background: #0056b3;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-calcular-produtos:hover {
    background-color: #003d82;
}
.btn-calcular-produtos2 {
    display: block;
    width: 25%;
    background: #0056b3;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-calcular-produtos2:hover {
    background-color: #003d82;
}


.campo-container {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 0;
}

.campo-container .label {
    flex-grow: 1;
    white-space: nowrap;
    /* Previne que o rótulo quebre a linha */
}

.campo-container .label::after {
    content: '';
    display: block;
    flex-grow: 1;
    border-bottom: 1px dotted #000;
    /* Cria a linha de pontos */
    margin: 0 8px;
    /* Espaço entre o rótulo e os pontos */
}

.campo-container label {
    flex: 1;
    font-size: 14px;
    color: #657c9a;
}

.campo-estilizado {
    /* seus estilos existentes para campo-estilizado */
    flex-shrink: 0;
    /* Previne que o campo encolha */
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}

table * {
    position: relative
}

table td,
table th {
    border: 1px solid #eaeaea;
    padding-left: 8px ;  
}

table thead tr {
    font-size: 10px;
    height: 20px;
    background: #dca2f7
}


table tbody tr {
    height: 30px
}

table tbody tr:last-child {
    border: 0
}

table td,
table th {
    text-align: left
}

table td.l,
table th.l {
    text-align: right
}

table td.c,
table th.c {
    text-align: center
}

table td.r,
table th.r {
    text-align: center
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: rgb(8, 8, 8);
    line-height: 1.2;
    font-weight: unset
}
.indice-tabela {
    width: 150px;
  }

.container-lucro {
    display: flex;
    justify-content: space-between;
    /* Isso empurrará o .valor-lucro para a direita */
    align-items: center;
    width: 100%;
    /* Isso faz com que o contêiner preencha toda a célula da tabela */
}

.textos-lucro p {
    margin: 0;
    /* Isso garante que não haja espaço entre os elementos <p> */
}

.valor-lucro {
    font-size: 30px;
    /* Tamanho maior para o valor */
    /* Se você precisar que o .valor-lucro esteja mais à direita, você pode adicionar 'margin-left: auto;' */
    margin-left: auto;
    /* Isso empurrará o .valor-lucro para a extrema direita dentro do .container-lucro */
}