* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

header {
    background-color: #333533;
    padding: 8px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #F5CB5C; /* Amarelo mostarda */
    font-size: 24px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 22px;
    color: #333533;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

section ul, section ol {
    margin-left: 20px;
    margin-bottom: 10px;
}

section ul li, section ol li {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

footer {
    background-color: #333533;
    color: #F5CB5C; /* Amarelo mostarda */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.info-header {
    color: #F5CB5C; /* Amarelo mostarda */
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.info-header img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 8px;
}

.info-header i {
    margin: 0 10px;
}

.icons-header {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.icons-header svg {
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    font-size: 12px;
    cursor: pointer;
    color: #F5CB5C; /* Amarelo mostarda */
}

.logo h3:hover {
    opacity: 0.7;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 8px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar {
    width: 15%;
    background-color: #F5CB5C; /* Amarelo mostarda */
}

.sidebar a.sidebar-active {
    border-left: 4px solid #333533;
    background-color: #f5f5f5;
    color: #777;
    font-weight: bold;
}

.sidebar a:hover {
    border-left: 4px solid #333533;
    background-color: #f5f5f5;
    color: #777;
    font-weight: bold;
}

.sidebar a.sidebar-active>svg {
    color: #777;
}

.sidebar h3 {
    color: #333533;
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #444;
}

.sidebar a>svg {
    color: #444;
}

.content {
    width: 85%;
    background-color: #f5f5f5;
    padding: 20px;
}

.paragrafos {
    width: 85%;
    background-color: #f5f5f5;
    padding: 20px;
}

.paragrafos h2 {
    font-size: 20px;
    color: #333533;
    margin-bottom: 20px;
}

.paragrafos ul, ol {
    margin: 20px 0; /* Espaçamento acima e abaixo da lista */
    padding-left: 50px; /* Espaçamento à esquerda dos itens da lista */
}

.titulo-secao {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.titulo-secao h2 {
    font-size: 19px;
}

.titulo-secao p {
    font-size: 14px;
}

.titulo-secao i {
    color: #F5CB5C; /* Amarelo mostarda */
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
}

.box-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.box-info-single {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin: 0 10px;
    padding: 30px;
    background-color: #333533;
}

.box-info-single i {
    font-size: 28px;
}

.container-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Cada coluna terá no mínimo 300px e se ajustará automaticamente */
    gap: 10px;
    padding: 20px; /* Adiciona preenchimento ao redor dos elementos */
}

.grid-produtos {
    background: white;
    border-radius: 10px;
    padding: 20px;
    /* margin: 20px auto; */ /* Remove a margem aqui */
}

.section-title-produtos {
    font-size: 18px;
    color: #333533;
    border-bottom: 1px solid #d6dce4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

details {
    color: #f56e5c; /* Amarelo mostarda */
    opacity: 0.8;
    padding: 25px;
}

.input-group-produtos {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.input-group-produtos label {
    flex: 1;
    font-size: 14px;
    color: #657c9a;
}

.input-group-produtos input {
    flex: 2;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccd5e1;
    border-radius: 4px;
    margin-left: 10px;
}

.input-group-produtos input::-webkit-inner-spin-button,
.input-group-produtos input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group-produtos-addon {
    background: #f4f7fa;
    border: 1px solid #ccd5e1;
    padding: 6px 12px;
    color: #657c9a;
    text-align: center;
    border-radius: 4px;
    margin-left: -1px;
    cursor: pointer;
}

.btn-calcular-produtos {
    display: block;
    width: 100%;
    background: #333533;
    color: #F5CB5C; /* Amarelo mostarda */
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-calcular-produtos:hover {
    background-color: #292b2c;
}

.btn-calcular-produtos2 {
    display: block;
    width: 100%;
    background: #333533;
    color: #F5CB5C; /* Amarelo mostarda */
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-calcular-produtos2:hover {
    background-color: #292b2c;
}

.campo-container {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 0;
}

.campo-container .label {
    flex-grow: 1;
    white-space: nowrap;
    /* Previne que o rótulo quebre a linha */
}

.campo-container .label::after {
    content: '';
    display: block;
    flex-grow: 1;
    border-bottom: 1px dotted #000;
    /* Cria a linha de pontos */
    margin: 0 8px;
    /* Espaço entre o rótulo e os pontos */
}

.campo-container label {
    flex: 1;
    font-size: 14px;
    color: #657c9a;
}

.campo-estilizado {
    /* seus estilos existentes para campo-estilizado */
    flex-shrink: 0;
    /* Previne que o campo encolha */
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    border: 1px solid #eaeaea;
    padding-left: 8px;
}

table thead tr {
    font-size: 10px;
    height: 20px;
    background: #F5CB5C; /* Amarelo mostarda */
}

table tbody tr {
    height: 30px;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: rgb(8, 8, 8);
    line-height: 1.2;
    font-weight: unset;
}

.indice-tabela {
    width: 150px;
}

.container-lucro {
    display: flex;
    justify-content: space-between;
    /* Isso empurrará o .valor-lucro para a direita */
    align-items: center;
    width: 100%;
    /* Isso faz com que o contêiner preencha toda a célula da tabela */
}

.textos-lucro p {
    margin: 0;
    /* Isso garante que não haja espaço entre os elementos <p> */
}

.valor-lucro {
    font-size: 30px;
    /* Tamanho maior para o valor */
    /* Se você precisar que o .valor-lucro esteja mais à direita, você pode adicionar 'margin-left: auto;' */
    margin-left: auto;
    /* Isso empurrará o .valor-lucro para a extrema direita dentro do .container-lucro */
}